@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,800);
@font-face {
  font-family: 'LeagueGothicRegular';
  src: url("fonts/league_gothic.otf-webfont.eot");
  src: url("fonts/league_gothic.otf-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/league_gothic.otf-webfont.woff") format("woff"), url("fonts/league_gothic.otf-webfont.ttf") format("truetype"), url("fonts/league_gothic.otf-webfont.svg#LeagueGothicRegular") format("svg");
  font-weight: normal;
  font-style: normal; }
  *{
    margin: 0;
    padding: 0;
  }

body {
  font-family: sans-serif; }

p, ul, h1, h2, h3, h4 {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4 {
  font-weight: normal; }

.section-wrapper {
  width: 960px;
  margin: 0 auto; }
  .section-wrapper:after {
    content: "";
    display: table;
    clear: both; }

.main-nav {
  float: right;
  margin: 74px 0 0;
  padding: 0;
  font-family: "LeagueGothicRegular", sans-serif; }
  .main-nav-item {
    display: inline-block;
    margin-left: 39px;
    padding: 0 5px;
    line-height: 30px;
    font-size: 24px;
    text-transform: uppercase;
    list-style: none;
    text-shadow: 2px 2px #868686;
    cursor: pointer; }
    .main-nav-item:first-child {
      margin-left: 0;
      padding-left: 0; }
    .main-nav-item:hover {
      border-bottom: 2px solid #edbfff; }
    .main-nav-item.isActive {
      border-bottom: 2px solid #edbfff; }
    .main-nav-item__link {
      text-decoration: none;
      color: white; }

.dots-nav {
  position: absolute;
  right: 172px;
  bottom: -109px; }
  .dots-nav-item {
    position: relative;
    display: block;
    float: left;
    margin-left: 5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer; }
    .dots-nav-item:hover:after {
      content: '';
      position: absolute;
      top: 3px;
      left: 3px;
      width: 9px;
      height: 9px;
      border-radius: 50%;
      background-color: white;
      background: linear-gradient(to top, #dedede, #fdfdfd); }

.top-part {
  padding-bottom: 167px;
  background: url("../img/bg.jpg") center;
  background-size: cover; }

header {
  padding-bottom: 169px; }
  header .dropdown-menu .main-nav {
    display: none; }
  header .dropdown-menu-selected-item {
    display: none; }
  .header-logo {
    float: left;
    margin-top: 50px;
    max-width: 275px; }

.slider {
  position: relative;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.2); }
  .slider .section-wrapper {
    position: relative; }
  .slider-wrapper {
    position: relative; }
  .slider-directions_left {
    position: absolute;
    top: 41%;
    width: 30px;
    height: 42px;
    background-image: url("../img/arrows.png");
    cursor: pointer;
    left: 3%;
    background-position: 0 0; }
  .slider-directions_right {
    position: absolute;
    top: 41%;
    width: 30px;
    height: 42px;
    background-image: url("../img/arrows.png");
    cursor: pointer;
    right: 3%;
    background-position: -30px 0; }
  .slider-holder {
    position: relative;
    width: 960px;
    height: 400px; }
    .slider-holder-slide {
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: border-box;
      padding: 0 0px;
      width: 960px; }
  .slider-description {
    float: left;
    margin-top: 77px;
    width: 55%;
    text-shadow: 0 2px #868686; }
    .slider-description__title {
      font-family: 'LeagueGothicRegular', sans-serif;
      font-size: 60px;
      line-height: 57px;
      letter-spacing: -0.5px;
      text-transform: capitalize;
      color: white; }
    .slider-description__subtitle {
      font-family: 'LeagueGothicRegular', sans-serif;
      font-size: 32px;
      text-transform: uppercase;
      text-shadow: 0 2px 1px #868686;
      color: #edbfff; }
    .slider-description__text {
      max-height: 140px;
      font-family: 'Open Sans', sans-serif;
      font-size: 18px;
      font-weight: 300;
      color: white;
      text-shadow: 0 1px #868686; }
  .slider-image {
    position: relative;
    float: right;
    width: 40%;
    top: -19px;
    left: -15px;
    text-align: center; }
    .slider-image__action {
      position: absolute;
      top: 34%;
      left: 50%;
      width: 76px;
      height: 76px;
      background-image: url("../img/slider_play-icon.png");
      cursor: pointer; }

.about {
  position: relative;
  padding: 72px 0 66px;
  border-top: 1px solid #33253a;
  border-bottom: 1px solid #1d2f37;
  background-color: #724f80;
  background-image: url("../img/gradient-bg.png");
  background: linear-gradient(to top, #322539, #745083); }
  .about-item {
    position: relative;
    float: left;
    margin-left: 59px;
    padding-left: 50px;
    width: 226px;
    font-family: "LeagueGothicRegular", sans-serif;
    text-shadow: 1px 1px #000;
    color: white; }
    .about-item:first-child {
      margin-left: 13px; }
    .about-item_key:before {
      content: '';
      position: absolute;
      top: 14px;
      left: 0px;
      width: 30px;
      height: 25px;
      background: url("../img/icons.png") no-repeat 0 -23px; }
    .about-item_dialog:before {
      content: '';
      position: absolute;
      top: 15px;
      left: 0;
      width: 30px;
      height: 23px;
      background: url("../img/icons.png") no-repeat; }
    .about-item_melody:before {
      content: '';
      position: absolute;
      top: 12px;
      left: 0;
      width: 30px;
      height: 25px;
      background: url("../img/icons.png") no-repeat 0 -48px; }
    .about-item__title {
      margin-bottom: 5px;
      font-size: 30px;
      font-weight: normal;
      text-transform: uppercase; }
    .about-item__text{
      margin-bottom: 17px;
      line-height: 24px;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      font-weight: 300; }
    .about-item__link {
      float: right;
      font-size: 18px;
      text-transform: uppercase;
      text-decoration: none;
      color: white;
      transition: 200ms ease; }
      .about-item__link:hover {
        text-shadow: 0 0 8px #fff, 0 0 8px #fff; }
  .about:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background-color: #0d151b; }

.info {
  padding: 101px 0 76px;
  border-bottom: 1px solid #e6e6e6;
  background-color: #f9f9f9;
  color: #454545; }
  .info-testimonials {
    position: relative;
    float: left; }
    .info-testimonials-holder {
      position: relative;
      width: 453px;
      height: 310px;
      overflow: hidden; }
    .info-testimonials-item {
      position: absolute;
      box-sizing: border-box;
      margin-left: 23px;
      padding: 25px 40px;
      width: 430px;
      box-shadow: 0 0 3px #efefef;
      background-color: white; }
      .info-testimonials-item:after {
        content: '';
        display: block;
        position: absolute;
        right: 40px;
        bottom: -15px;
        width: 30px;
        height: 30px;
        box-shadow: 1px 1px 2px #efefef;
        background-color: white;
        transform: rotate(68deg) skew(30deg); }
      .info-testimonials-item__avatar {
        position: absolute;
        top: 18px;
        left: -23px; }
      .info-testimonials-item-title {
        margin-bottom: 7px;
        font-family: "LeagueGothicRegular", sans-serif;
        font-size: 30px;
        text-transform: uppercase; }
        .info-testimonials-item-title .distinguished {
          color: #edbfff; }
      .info-testimonials-item__text {
        height: 178px;
        overflow: hidden;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.1px;
        font-weight: 300; }
    .info-testimonials .dots-nav {
      position: absolute;
      right: 175px;
      bottom: -2px; }
      .info-testimonials .dots-nav-item {
        border: 1px solid #e8e8e8;
        background-color: white; }
        .info-testimonials .dots-nav-item:hover:after {
          top: 2px;
          left: 2px;
          border: 1px solid #4d4d4d;
          background-color: #555555;
          background: linear-gradient(to top, #454545, #888888); }
  .info-blog-updates {
    float: left;
    padding: 25px 0 0 57px; }
    .info-blog-updates__title {
      margin-bottom: 14px;
      font-family: "LeagueGothicRegular", sans-serif;
      font-size: 30px;
      text-transform: uppercase; }
    .info-blog-updates-list {
      list-style: none; }
      .info-blog-updates-list-item {
        margin-bottom: 18px;
        width: 445px; }
        .info-blog-updates-list-item__img {
          float: left;
          margin-right: 18px; }
        .info-blog-updates-list-item__title {
          margin-bottom: 3px;
          font-family: 'Open Sans', sans-serif;
          font-size: 16px;
          font-weight: 800; }
        .info-blog-updates-list-item__details {
          font-family: 'Open Sans', sans-serif;
          font-size: 16px;
          font-weight: 300; }
    .info-blog-updates__link {
      float: right;
      margin-right: 16px;
      font-family: "LeagueGothicRegular", sans-serif;
      font-size: 18px;
      line-height: 32px;
      text-transform: uppercase;
      text-decoration: none;
      color: #454545; }

.clients {
  border-top: 1px solid white;
  border-bottom: 1px solid #fefefe;
  background-color: #f9f9f9; }
  .clients-holder {
    padding: 9px 0 29px ;
    text-align: center; }
    .clients-holder__image {
      vertical-align: middle;
      margin: 15px 63px 0 0; }
      .clients-holder__image:last-child {
        margin-right: 0; }

.updates {
  padding: 92px 0;
  border-top: 1px solid #d8d8d8;
  background-color: #ececec; }
  .updates-column {
    float: left;
    width: 278px;
    margin-left: 61px;
    text-shadow: 1px 1px white;
    color: #454545; }
    .updates-column:first-child {
      margin-left: 0;
      margin-top: 6px; }
    .updates-column-logo {
      margin-bottom: 15px;
      max-width: 275px; }
    .updates-column__copyright {
      margin-bottom: 10px;
      font-family: Georgia, sans-serif;
      font-size: 16px;
      font-style: italic;
      color: #c5c5c5; }
    .updates-column__title {
      font-family: "LeagueGothicRegular", sans-serif;
      margin-bottom: 5px;
      font-size: 30px;
      text-transform: uppercase; }
    .updates-column__text {
      font-family: 'Open Sans', sans-serif;
      line-height: 24px;
      letter-spacing: -0.4px;
      font-size: 16px; }

footer {
  padding: 42px 0;
  background: url("../img/bottom_bg.jpg") no-repeat center;
  background-size: 100% 100%; }
  footer .main-nav {
    float: left;
    margin: 0; }
    footer .main-nav-item {
      margin-left: 31px;
      font-size: 20px; 
  	  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4); }
      footer .main-nav-item:hover {
        border: 0; }
  .footer-copyright {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 37px;
    font-weight: 300;
    float: right;
    color: white; }
    .footer-copyright__author {
      font-weight: 800; }

@media screen and (max-width: 959px) {
  .section-wrapper {
    box-sizing: border-box;
    padding: 0 20px;
    width: 768px; }
  .top-part{
  	padding-bottom: 154px; }
  header {
    padding-bottom: 74px; }
  .main-nav {
    float: left;
    margin-top: 27px; }
  .slider-holder {
    width: 728px; }
    .slider-holder-slide {
      width: 728px; }
  .slider-directions_left {
    left: 0; }
  .slider-directions_right {
    right: 0; }
  .slider-description {
    width: 305px; 
	margin-left: 24px;
	margin-top: 92px;}
    .slider-description__title {
      font-size: 48px; }
    .slider-description__subtitle {
      font-size: 24px;
      margin-bottom: 7px; }
    .slider-description__text {
      font-size: 16px;
      max-height: 100px;
      line-height: 26px;
      overflow: hidden; }
      .dots-nav{
      	right: 148px;
      	bottom: -54px; }
  .about-item {
    margin-left: 40px;
    width: 160px; }
    .about-item__title {
      font-size: 24px; }
    .about-item__text {
      font-size: 16px;
      max-height: 138px;
      margin-bottom: 8px;
      overflow: hidden; }
  .info-testimonials-holder {
    width: 338px; }
  .info-testimonials-item {
    width: 315px;
	padding-bottom: 48px;}
    .info-testimonials-item-title {
      margin-bottom: 6px;
      font-size: 24px; }
      .info-testimonials-item-title .distinguished {
        display: block;
        margin-top: -4px; }
    .info-testimonials-item__text {
      height: 139px; }
      .info-testimonials-item:after{
      	display: none; }
      	.info-testimonials .dots-nav{
      		right: 116px;
      		bottom: -3px; }
  .updates{
	padding-top: 97px;
  	padding-bottom: 92px; }
  .info-blog-updates {
    padding-left: 57px;
    width: 330px;
    overflow: hidden; }
    .info-blog-updates-list-item{
    	margin-bottom: 20px;}
    .info-blog-updates__link{
    	margin-top:-6px;
    	margin-right: 7px; }
  .clients-holder__image {
    margin-right: 50px; }
  .updates-column {
    width: 200px;
    height: 200px;
    overflow: hidden; }
    .updates-column__copyright {
      font-size: 14px; }
    .updates-column__title {
      font-size: 24px; }
      footer{
      	padding-bottom: 74px; }
  .footer-copyright {
    margin-top: 49px; } }

@media screen and (max-width: 767px) {
  .section-wrapper {
    box-sizing: border-box;
    padding: 0 20px;
    width: 480px; }
  .top-part {
    padding-bottom: 100px; }
  header {
    padding-top: 50px; }
    header .main-nav {
      display: none; }
      .dots-nav{

      }
    header .dropdown-menu {
      display: block;
      margin: 0 auto 130px;
      position: absolute;
      top: 120px;
      left: 0;
      bottom: 0;
      right: 0;
      width: 60px;
      z-index: 2; }
      header .dropdown-menu-selected-item {
        border: 1px solid transparent;
        display: block;
        width: 60px;
        margin: 0 auto; 
        text-align: center;}
        header .dropdown-menu-selected-item__link {
          display: inline-block;
          width: 55px;
          padding: 10px 1px 1px 1px ;
          font-family: "LeagueGothicRegular", sans-serif;
          font-size: 24px;
          text-align: center;
          text-decoration: none;
          text-transform: uppercase;
          text-shadow: none;
          color: white;
          transition: all 0.1s ease;
          cursor: pointer; }
      header .dropdown-menu .main-nav {
        display: none;
        margin-top: 0;
        width: 250px;
        border: 1px solid #051116;
        border-top: none;
        border-radius: 0 0 10px 10px;
        background: rgba(54, 41, 62, 0.9);
        transition: all 0.7s ease; }
          header .dropdown-menu:hover{
          	width: 250px;          }
          header .dropdown-menu:hover .dropdown-menu-selected-item{
          width: 250px;
          border-radius: 10px 10px 0 0;
          padding-bottom: 5px;
          border: 1px solid #051116;
          border-bottom: 1px solid #513e59;
          background: rgba(54, 41, 62, 0.9); }
           header .dropdown-menu:hover .dropdown-menu-selected-item__link{
           	border-bottom: 2px solid #edbfff;}
          header .dropdown-menu:hover .main-nav{
            display: block;  }
        header .dropdown-menu .main-nav-item {
          display: block;
          margin: 0;
          padding: 10px 0;
          border-top: 1px solid #513e59;
          border-bottom: 2px solid #35273d;
          text-align: center;
          text-shadow: none;
          transition: all 0.3s ease; }
          header .dropdown-menu .main-nav-item:first-child {
            border-top: 0; }
          header .dropdown-menu .main-nav-item:last-child {
            border-radius: 0 0 10px 10px; }
          header .dropdown-menu .main-nav-item:hover {
            border-bottom: 2px solid #edbfff;
            background: rgba(36, 28, 42, 0.7); }
    .header-logo {
      float: none;
      margin: 0 auto;
      text-align: center; }
  .slider {
    height: 275px; }
    .slider-holder {
      width: 440px;
      height: 250px; }
      .slider-holder-slide {
        width: 440px; }
    .slider-description {
      width: 240px; }
      .slider-description__title {
        font-size: 36px; }
      .slider-description__subtitle {
        font-size: 18px; }
      .slider-description__text {
        display: none; }
    .slider-image {
      width: 40%; 
  	  top: -7px;}
  	  .slider-image__action{
  	  	top: 34%;
  	  	left: 45%;
  	  }
      .slider-image img {
        width: 180px; }
    .slider .dots-nav {
      bottom: -60px; 
  	  right: 42%;}
  .about {
    padding: 70px 0; }
    .about-item {
      margin-left: 0;
      margin-top: 20px;
      width: auto; }
      .about-item:first-child {
        margin-top: 0; }
  .info-testimonials-holder {
    width: 423px; }
  .info-testimonials-item {
    width: 400px; }
  .info-blog-updates {
    margin-top: 30px;
    padding-left: 60px; }
  .clients-holder {
    padding-left: 25px;
    padding-right: 25px; }
  .updates-column {
    margin-left: 0;
    margin-top: 50px;
    width: auto; }
    .updates-column:first-child {
      margin-top: 0; }
  footer .main-nav-item {
    margin-left: 10px; }
  .footer-copyright {
    width: 100%;
    text-align: center; } }

@media screen and (max-width: 479px) {
  .section-wrapper {
    box-sizing: border-box;
    padding: 0 20px;
    width: 100%; }
  .slider-image {
    display: none; }
  .slider-holder {
    width: 100%;
    text-align: center; }
    .slider-holder-slide {
      width: 100%; }
  .slider-description {
    width: 100%;
    margin-left: 0px; }
  .slider .dots-nav {
    right: 100px; }
  .info-testimonials {
    float: none; }
    .info-testimonials-holder {
      margin: 0 auto;
      width: 283px; }
    .info-testimonials-item {
      width: 260px; }
    .info-testimonials .dots-nav {
      right: 40%; }
  .info-blog-updates {
    padding-left: 0;
    width: 100%; }
    .info-blog-updates-list-item {
      width: 100%;
      white-space: nowrap; }
      .info-blog-updates-list-item__title, .info-blog-updates-list-item__details {
        overflow: hidden;
        text-overflow: ellipsis; }
  .clients-holder {
    padding-left: 0;
    padding-right: 0; }
    .clients-holder__image {
      margin-right: 38px;
      margin-top: 52px; } 
    .updates{
    display: none; }
    footer .main-nav{
      display: none; }

  }
