*{
	margin: 0;
	padding: 0;
}
img{
	display: block;
}
section{
	margin: 0 auto;
}
h1, h2{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
.clearfix:after{
	content: '';
	display: block;
	clear: both;
}
section.top{
	width: 100%;
	color: #fff;
	background: url(../img/head.jpg) center;
	background-size: cover;
	text-align: center;
}
.top h1{
	margin-top: 35px;
	font-size: 30px;
}
.top h3{
	margin-top: 15px;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 300;
}
header{
	padding-top: 20px;
}
.header-logo{
	display: block;
	margin-top: 115px;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 700;
}
.top a{
	color: #fff;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 700;
}
header a{
	display: inline-block;
	padding: 8px 16px;
}
.header-signup{
	border: 2px solid #fff;
	border-radius: 25px;
}
.top-button{
	display: inline-block;
	margin-top: 17px;
	margin-bottom: 138px;
	padding: 14px 50px;
	border-radius: 25px;
	background-color: #ff4e50;
}
section.steps{
	min-height: 777px;
	margin-top: 35px;
}
.steps h2{
	font-size: 22px;
	color: #333;
	text-align: center;
}
.slider-wrapper{
	width: 300px;
    margin: 10px auto;
}
.slider-holder-item{
	position: relative;
	margin: 0 auto;
	width: 300px;
	overflow: hidden;
	color: #fff;
}
.slider-holder-item:before{
	content: '';
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
   	background-image: -moz-linear-gradient( 90deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);
    background-image: -ms-linear-gradient( 90deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);
}
.slide-title, .slider-holder-item h3, .slide-description{
}
.slide-text{
	position: absolute;
	top: 69px;
	left: 20px;

}
.slide-title{
	font-family: 'Roboto', sans-serif;
	font-size: 10px;
	font-weight: 300;
	letter-spacing: 2px;
	padding: 3.5px 14px;
	background-color: #ff4e50;
	border-radius: 15px;
}
.slider-holder-item h3{
	margin-top: 17px;
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	font-weight: 700;
}
.slide-description{
	margin-top: 15px;
	padding-right: 12px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #ccc;
}
.partners{
	margin-top: 30px;
	text-align: center;
}
.partners h2{
	font-size: 22px;
	margin-bottom: 15px;
	padding: 0 20px;
}
figure.partner-wrapper{
	width: 216px;
    margin: 0 auto 30px;
}
.partner-pics{
	position: relative;
	display: inline-block;
}
.partner-icon{
	position: absolute;
	bottom: -4px;
	right: 0;
}
.partner-wrapper h4{
	margin-top: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 14px;
	color: #333;
}
.partner-text{
	margin-top: 15px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #666;
}
.partner-button{
    display: inline-block;
    padding: 13px 72px;
    text-decoration: none;
    border: 2px solid #ff4e50;
    border-radius: 20px;
    color: #ff4e50;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    -webkit-transition: 0.1s ease-in;
    -o-transition: 0.1s ease-in;
    transition: 0.1s ease-in;
}
.partner-button:hover{
	background: #ff4e50;
	color: #fff;
}
section.ideas{
	margin-top: 37px;
}
.ideas h2{
	margin-bottom: 15px;
	text-align: center;
	font-size: 22px;
}
.ideas figure{
	position: relative;
	margin-bottom: 9px;
	width: 300px;
	height: 120px;
	overflow: hidden;
    margin: 0 auto 9px;
    border-radius: 4px;
}
.ideas figure:last-child{
	width: 100%;
	height: 0;
	visibility: hidden;
}
.ideas figure img{
	margin-top: -38px;
}
.ideas figcaption{
	margin-top: -228px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 22px;
	color: #fff;
}
.ideas a{
	text-decoration: none;
}
section.search{
	margin-top: 37px;
	text-align: center;
}
.search form{
	padding: 0 17px;
}
.search h2, .search h4{
	color: #333;
}
.search h2{
	font-size: 22px;
}
.search h4{
	margin-top: 17px;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 300;
}
.search input[type="submit"]{
	display: block;
    margin: 10px auto 0;
    background: #ff4e50;
    border: 0;
    padding: 11px 84px;
    border-radius: 20px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}
#search-interests{
	width: 280px;
	margin-top: 15px;
    line-height: 38px;
    box-sizing: border-box;
    padding-left: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
footer{
	margin-top:	40px;
	text-align: center;
	border-top: 4px solid #ff4e50;
}
footer h2{
	margin-top: 15px;
	font-size: 16px;
	color: #ff4e50;
}
footer nav li{
	display: inline-block;
	margin-right: 15px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 14px;	
}
footer nav li:first-child{
	display: block;
	margin: 15px 0 4px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 14px;
	color: #333;
}
footer nav li:last-child{
	margin: 0;
}
footer nav a{
	text-decoration: none;
	color: #666;
}
.footer-logo p{
	margin-bottom: 9px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 1px;
    color: #ccc;
}
.footer-logo img{
	display: inline;
	margin-bottom: 18px;
}

@media screen and (min-width: 768px){
	header{
		padding: 38px 50px 0;
	}
	.header-buttons{
		float: right;
	}
	.header-logo{
		float: left;
		margin-top: 0;
	}
	.top h1{
		margin-top: 155px;
		font-size: 52px;
	}
	.top h3{
		margin-top: 33px;
		font-size: 24px;
	}
	.top-button{
		margin-top: 30px;
		margin-bottom: 234px;
	}
	section.steps{
		margin-top: 95px;
		min-height: 378px;
		text-align: center;
	}
	.slider-wrapper{
		display: inline-block;
		margin-right: 16px;
		margin-top: 37px;
		text-align: left;
		width: 236px;
		height: 400px;
	}
	.slider-left,
	.slider-right{
		position: absolute;
		top: 40px;
		width: 30px;
		height: 55px;
		background: url(../img/arrows.png);
		cursor: pointer;
	}
	.slider-left{
		left: 22px;
		background-position: 0 0;
		z-index: 1;
	}
	.slider-right{
		right: 22px;
		background-position: 30px 0;
	}
		
	.slider-wrapper:last-child{
		margin-right: 0;
	}
	.slider-holder-item {
   		width: 236px;
   		height: 400px;
   	}
	.slider-holder-item:before{
		z-index: 1;
	}
	.slider-holder-item img {
		height: 100%;
    	position: absolute;
    	left: -123px;
    }
	.slide-text{
		top: auto;
		bottom: 15px;
		z-index: 2;
	}
	.partners{
		width: 500px;
	}
	.partner-button {
    	padding: 13px 28px;
    }
	figure.partner-wrapper{
		display: inline-block;
		vertical-align: top;
	} 	
	section.ideas{
		margin-top: 100px;
		width: 748px;
		text-align: justify;
	}
	.ideas h2{
		margin-bottom: 39px;
	}
	.ideas figure{
		display: inline-block;
		height: 310px;
		margin-bottom: 16px;
	}
	figure.ideas-33percent{
		width: 236px;
	}
	figure.ideas-66percent{
		width: 492px;
	}
	.ideas figcaption{
		margin-top: -170px;
		padding: 0 13px;
	}
	.ideas figure img{
		margin-top: 0;
	}
	.search h4{
		margin-top: 30px;
	}
	#search-interests{
		margin-top: 37px;
	}
	.search input[type="submit"] {
    	display: inline-block;
    	margin-left: 7px;
    	padding: 11px 24px;
    }
    footer{
    	margin-top: 100px;
    	padding: 40px;
    	text-align: left;
    }
    footer h2{
    	float: left;
    	margin: 0;
    }
    footer nav{
    	float: left;
    	margin-left: 84px;
    }
    footer nav ul{
    	float: left;
    }
    footer nav ul:last-child{
    	margin-left: 105px;
    }
    footer ul li{
		display: block;
		line-height: 23px;
    }
    footer ul li:first-child{
    	margin: 0;
    }
    .footer-logo{
    	float: right;
    	text-align: right;
    }
}
@media screen and (min-width: 1440px){
	header{
		padding: 51px 250px 0;
	}
	.header-logo{
		margin-top: 0;
	}
	.slider-wrapper{
		width: 306px;
	}
	.slider-holder-item {
   		width: 306px;
   	}
	.slider-left,
	.slider-right{
		top: 153px;
	}
	.partners{
		width: 960px;
	}
	.partners h2{
		margin-bottom: 30px;
	}
	section.ideas{
		width: 940px;
	}
	figure.ideas-33percent{
		width: 300px;
	}
	figure.ideas-66percent{
		width: 620px;
	}
	footer{
		padding: 40px 250px;
	}
    footer nav{
    	margin-left: 99px;
    }
    footer nav ul:last-child{
    	margin-left: 93px;
    }
}
.jcarousel {
    position: relative;
    overflow: hidden;
}

/*
This is the container of the carousel items.
You must ensure that the position is relative or absolute and
that the width is big enough to contain all items.
*/
.jcarousel .slider-holder {
    width: 2000px;
    position: relative;
}

/*
These are the item elements. jCarousel works best, if the items
have a fixed width and height (but it's not required).
*/
.jcarousel .slider-holder-item {
    /* Required only for block elements like <li>'s */
    float: left;
}