@font-face {
    font-family: "SegoeUISemiBold";
    src: url("../../fonts/SegoeUISemiBold/SegoeUISemiBold.eot");
    src: url("../../fonts/SegoeUISemiBold/SegoeUISemiBold.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/SegoeUISemiBold/SegoeUISemiBold.woff") format("woff"),
    url("../../fonts/SegoeUISemiBold/SegoeUISemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "SegoeUIRegular";
    src: url("../../fonts/SegoeUIRegular/SegoeUIRegular.eot");
    src: url("../../fonts/SegoeUIRegular/SegoeUIRegular.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"),
    url("../../fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "SegoeUIBold"; */
@font-face {
    font-family: "SegoeUIBold";
    src: url("../../fonts/SegoeUIBold/SegoeUIBold.eot");
    src: url("../../fonts/SegoeUIBold/SegoeUIBold.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/SegoeUIBold/SegoeUIBold.woff") format("woff"),
    url("../../fonts/SegoeUIBold/SegoeUIBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProBold"; */
@font-face {
    font-family: "MyriadProBold";
    src: url("../../fonts/MyriadProBold/MyriadProBold.eot");
    src: url("../../fonts/MyriadProBold/MyriadProBold.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/MyriadProBold/MyriadProBold.woff") format("woff"),
    url("../../fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}