*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
@mixin translateY($percent) {
    -webkit-transform: translateY($percent);
    -ms-transform: translateY($percent);
    -o-transform: translateY($percent);
    transform: translateY($percent);
}
.new-container{
	position: relative;
	float: left;
	margin-bottom: 10px;
	border: 1px solid #ced4d9;
	background: #fff;
	border-radius: 4px;
	overflow: hidden;

    &__descr{
    	position: absolute;
    	display: table;
    	bottom: 0;
    	width: 100%;
    	height: 79px;
    	padding-left: 19px;
    	padding-right: 16%;
    	border: 1px solid transparent;
    	border-top-color: #ced4d9;
        background-image: -moz-linear-gradient( 90deg, rgb(237,240,242) 0%, rgb(255,255,255) 100%);
        background-image: -webkit-linear-gradient( 90deg, rgb(237,240,242) 0%, rgb(255,255,255) 100%);
        background-image: -ms-linear-gradient( 90deg, rgb(237,240,242) 0%, rgb(255,255,255) 100%);
        background-image: linear-gradient( 90deg, rgb(237,240,242) 0%, rgb(255,255,255) 100%);
        font-family: "SegoeUIRegular", Arial, sans-serif;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    	-webkit-transition: 0.2s ease height;
		-o-transition: 0.2s ease height;
		transition: 0.2s ease height;
    }
    &--smaller-descr{
		@media screen and (max-width: 480px){
			height: 60px;
		}
    }
	&--half{
		width: calc(50% - 5px);
		height: 590px;
		font-size: 15px;
		@media screen and (max-width: 1180px){
			height: 490px;
		}
		@media screen and (max-width: 1024px){
			height: 490px;
			width: calc(66% - 11px);
		}
		@media screen and (max-width: 768px){
			height: 250px;
			width: 100%;
		}
		@media screen and (max-width: 480px){
			height: 260px;
			font-size: 14px;
		}
		.new-container__descr:hover{
			display: block;
			height: 190px;
			padding-top: 15px;
			background: #fff;
			padding-right: 24px;
			border-color: #0084ff;

		.new-container__hidden-text{
			height: auto;
			display: block;
		}
		.new-container-btn{
			right: -7px;
		}
	}
	}
	&--quarter{
		width: calc(50% - 5px);
		height: 290px;
		font-size: 13px;
	
		@media screen and (max-width: 1180px){
			height: 250px;
		}
		@media screen and (max-width: 1024px){
			width: 33%;
		}
		@media screen and (max-width: 768px){
			width: calc(50% - 5px);
		}
		@media screen and (max-width: 480px){
			height: 110px;
			width: 100%;
		}
			}
	&--one-eight{
		width: calc(25% - 8px);
		height: 290px;
		font-size: 13px;

		@media screen and (max-width: 1180px){
			height: 230px;
		}
		@media screen and (max-width: 1024px){
			width: 33%;
		}
		@media screen and (max-width: 768px){
			width: calc(50% - 5px);
			height: 250px;
		}
		@media screen and (max-width: 480px){
			height: 110px;
			width: 100%;
		}
	}
	&__text{
		display: table-cell;
		vertical-align: middle;
		position: relative;
	}
	&__img-holder{
		position: relative;
		height: 100%;
		overflow: hidden;
		border-radius: 4px;
	}

	&__img-holder img{
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translateX(-50%) translateY(-50%);
		-ms-transform: translateX(-50%) translateY(-50%);
		-o-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
	}

	&__hidden-text{
		height: 0;
		margin-top: 15px;
		padding-top: 17px;
		display: none;
		text-align: justify;
		border-top: 1px solid #aaa;
		font-size: 13px;
	}
}
.new-container-btn{
    position: absolute;
    right: -16%;
    top: 50%;
    width: 40px;
    height: 40px;
    background: #4ca9ff;
    border: 1px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    @include translateY(-50%);

   	&:before{
   		content: '';
   		position: absolute;
   		left: 17px;
   		top: 50%;
   		width: 0;
		height: 0;
		border-style: solid;
		border-width: 7px 0 7px 8px;
		border-color: transparent transparent transparent #ffffff;
   		@include translateY(-50%);
   	} 

   	&:hover{
		box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);
	}

}
