.new-wrapper{
	margin: 20px auto;
	width: 1180px;
	@media screen and (max-width: 1180px){
		width: calc(100% - 40px);
	}
	@media screen and (max-width: 768px){
		width: calc(100% - 20px);
	}

	&__header{
		margin-bottom: 10px;
		text-align: center;
		color: #fff;
		font-family: "SegoeUISemiBold", Arial, sans-serif;
		font-size: 18px;
		line-height: 30px;
		height: 30px;
		border: #2c83d5;
		border-radius: 3px;
        background-image: -moz-linear-gradient( 90deg, rgb(25,144,255) 0%, rgb(51,156,255) 100%);
        background-image: -webkit-linear-gradient( 90deg, rgb(25,144,255) 0%, rgb(51,156,255) 100%);
        background-image: -ms-linear-gradient( 90deg, rgb(25,144,255) 0%, rgb(51,156,255) 100%);
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
	}
	&__item:nth-child(2){
		margin-right: 10px;
	}
	&__item:nth-child(odd){
		float: right;
	}
	
	&__item:last-child{
		@media screen and (max-width: 1024px){
			display: none;
		}
	}
}
.new-wrapper__item + .new-container--one-eight{
	@media screen and (max-width: 1024px){
		float: right;
	}
	@media screen and (max-width: 768px){
		float: left;
	}
}