*{
	margin: 0;
	padding: 0;
	
}
body{
	font-family: Verdana, sans-serif;
	letter-spacing: 0px;
	font-size: 13px;
}
	.wrapper{
		margin: 0 auto;
		width: 650px;
		border: 1px solid gray;
		border-radius: 3px;
			}
	ul{
		background: #ccc;
		border-radius: 3px;
	}
	li{
		list-style: none;
		float: left;
		margin: 10px 3px 0 6px;
		/*padding: 0 40px;*/
		background: #ddd;
		border: 1px solid #aaa;
		border-bottom: none;
		border-radius: 3px;
	}
		a{
			text-decoration: none;
			color: black;
			line-height: 30px;
			display: block;
			padding: 0px 15px;
		}

	#tabs-1, #tabs-2, #tabs-3{
		display: none;

	}
		p{
			width: 600px;
			float: left;
			margin: 25px;
		}
		.textbox-visible{
			display: block !important;

		}
		.tab_active{
			background-color: white;
			cursor: text;
		}
	
	.clearfix:after{
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	
	}