
@media screen and (min-width: 1367px) {
  .slider-wrapper h1, h4, .slider-book-button{
        left: 50% !important;
  }
  .slider-wrapper h1{
       margin-left: -245px;
  }
  .slider-wrapper h4{
       margin-left: -116px;
  }
  .slider-wrapper .slider-book-button{
       margin-left: -128px;
  }
  .hotel-rest-description {
      width: 50%;
  }
  .hotel-rest-photo {
      width: 50%;
      overflow: hidden;
  }
  .events {
    text-align: center;
    padding: 58px 18% 105px;
  }
  .gallery{
      padding: 0 13%;
  }
}

@media screen and (max-width: 1366px) {
    .slider-jcarousel li {
        width: 1366px;
    }
}

@media screen and (max-width: 1024px) {
    .hotel-rest-description {
       width: 50%;
    }
    .hotel-rest-photo {
        width: 50%;
        overflow: hidden;
    }
    .reviews-wrapper,
    .reviews-wrapper .slider-slide {
        width: 800px;
    }
}

@media screen and (max-width: 960px) {
.header-menu{
    margin-left: 20%;
    width: 55%;
}
.reviews-wrapper,
 .reviews-wrapper .slider-slide {
    width: 640px;
}
footer{
    padding: 25px 35px 30px;
}
 .footer-categories ul {
     margin-right: 50px;
  }
 .footer-categories ul:nth-child(2){
     margin-right: 40px;
 }
 .footer-categories ul:last-child{
    margin-right: 0;
 }
}

@media screen and (max-width: 850px) {
 .hotel-rest-description {
      padding-top: 9%;
 }
  .hotel-rest-description p{
      padding: 0 4%;
      letter-spacing: -0.5px;
  }
  .hotel-rest-description h2 {
      font-size: 36px;
  }
   .hotel-rest-description h2:after {
      top: 53px;
    }
  .hotel-rest-description a {
      padding: 12px 23px;
  }
}

@media screen and (max-width: 768px) {
  header{
  	height: 100%;
  }
	.header-menu{
		display: none;
		margin-left: 0;
    	width: 100%;
    	height: 100%;
	}
	  .header-menu-item{
	  		display: list-item;
	  		font-size: 14px;
	  		margin-right: 0 !important;
	  		border-bottom: 1px solid #f1f1f1;
	  }
	  .header-menu-item:first-child{
	  		border-top: 1px solid #f1f1f1;
	  }
	  .header-menu-item a{
	       padding-left: 10px;
	  }
	  .header__submenu ul{
	  		height: 0;
	  		width: 100%;
	  		display: block;
	  		font-family: "CenturyGothic", sans-serif;
	  }
	  .header__submenu ul li{
	  		width: 100%;
	  }
	  .header__submenu:hover ul{
	  	height: 100%;
	  }
	  .header__submenu ul li a{
	  		background: #f8f8f8;
	  }
	  .header__arrow:after{
	  		top: 17px;
	  		right: 17px;
	  }
	.header-logo{
		top: 3px;
        left: 2%;
		height: 37px;
		width: 87px;
	}
	header a{
		line-height: 40px;
	}
	.header-lang{
		width: 57px;
	}
	.header-booking{
		width: 40px;
		height: 40px;
		background-size: 77%;
		background-position: 50% 50%;
	}
	  .header-booking-button span{
	  		display: none;
	  }
	.header-menu-show{
		display: block;
		float: right;
		height: 100%;
		width: 46px;
		height: 40px;
		background: url(../img/menu-open-button.png) 50% 50% no-repeat;
		cursor: pointer;
	}
 .slider-prev {
 	left: 2%;
    top: 125px;
    height: 65px;
    width: 35px;
    background: url(../img/arrows.png) 0 0;
    background-size: 200%;
  }
  .slider-next {
  	   right: 2%;
       top: 125px;
       height: 65px;
       width: 35px;
       background: url(../img/arrows.png) 35px 0;
       background-size: 200%;
   }
   .slider-wrapper h1 {
  		font-size: 72px;
  		left: 28%;
  		top: 23%;
   }
   .slider-slide{
        width: 745px;
   }
   .slider-jcarousel li {
   		width: 768px;
	}
	.slider-wrapper h4 {
		left: 37%;
	}
	.slider-book-button {
		left: 35%;
	}
 
 .book-popup{
    position: absolute;
    top: 42px;
    left: 0;
    margin-left: 0;
    width: 100%;
    border-radius: 0;
    text-align: left;
    padding-top: 0;

 }
  .book-a-room{
      width: auto;
      padding: 0 13px 36px 16px;
  }
   .book-popup h1 {
        position: relative;
        text-align: left;
        font-size: 18px;
        line-height: 38px;
        margin-bottom: 16px;
        padding-left: 32px;
        border-bottom: 1px solid #f1f1f1;
   }
   .book-a-room input, select {
        width: 100%;
   }
   .book-cross {
        position: absolute;
        left: 16px;
        top: 14px;
        width: 7px;
        height: 11px;
        background: url(../img/calendar-arrows.png) 0 0;
        background-size: 203%;
    }
      .book-cross:hover{
            width: 7px;
            height: 11px;
            background: url(../img/calendar-arrows.png) 0 0;
            background-size: 203%;
      }

  .calendar{
      margin-top: -25px;
  } 
  .calendar input[type="button"]{
      position: static;
      display: block;
      margin: 26px auto 0;
  }
  .calendar .calendar-arrow-left,
  .calendar .calendar-arrow-right{
       display: none;
  }
.about{
	padding: 40px 20px 100px;
}

.events {
	padding: 31px 15px 20px;
} 
 .events h1 {
      font-size: 48px;
      line-height: 38px;
      margin-bottom: 17px;
  }
  .events-item {
  		margin-right: 0;
  		width: 46%;
   }
  	.events-item:last-child {
  		display: none;
  	}
  	.events-item:first-child{
  		margin-right: 5.4%;
  	}
  	
  .left-right-figures {
  		margin-bottom: 20px;
   }
 .gallery-wrapper div {
 		width: 50%;
  }
  .gallery-description {
      padding-top: 13%;
  }
   .gallery-wrapper div:nth-child(n+5){
   		display: none;
   }
.reviews {
	background: url(../img/reviews-background.png) 0 400px repeat-x;
    padding: 13px;
 }
  .reviews-wrapper {
  	width: 95%;
  	height: 100%;
  }
  .reviews-wrapper .slider-slide{
       width: 10%;
  }

  .reviews-arrows {
  		display: none;
  	}
  footer nav{
     display: none;
  }
   .footer-contacts {
       float: none;
       text-align: center;
       margin: 0;
   }
}

@media screen and (max-width: 540px) {
  .slider-directions {
      display: none;
  }
  .hotel-rest-description {
    width: 100%;
    padding: 9% 0;
    height: auto;
  }
   .hotel-rest-description h2 {
     margin-bottom: 40px;
   }
   .hotel-rest-description p{
      padding: 0 3%;
      line-height: 19px;
   }
  .hotel-rest-photo {
       width: 100%;
       height: 100%;
   }
   .hotel-rest-photo img {
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
 .slider-wrapper h1 {
 	  font-size: 48px;
      left: 34%;
 }
 .slider-slide{
 	  width: 300px;
 }
 .slider-wrapper h4 {
    left: 34%;
    top: 41%;
}
  .slider-book-button {
    left: 33%;
    top: 52%;
}
 .calendar{
    display: none;
  }

 .about {
    padding: 20px 14px;
 }
  .about p {
  	  line-height: 19px;
      max-height: 174px;
   }   
 .about h1 {
 	font-size: 40px;
 	margin-bottom: 0px;
 }
 .about__first-par {
    margin-bottom: 0px;
 }
 
 .events {
 	 padding: 0;
 	 margin-top: 20px;
  }
  .events h1 {
       font-size: 36px;
   }
   .events-item {
   		width: 100%;
   	}
   .events-item:nth-child(n+2){
   		display: none;
   }
  .gallery{
  		position: relative;
  		margin-top: 20px;
  }  
  .gallery div {
       width: 100%;
   }
  .gallery-images{
  		width: 100%;
  		height: 100%;
  }
  .gallery div:nth-child(n+3) {
    	display: none;
   }
  .gallery-description {
  		padding-top: 0;
  		position: absolute;
    	top: 74px;
    	color: #fff;
    	background: none;
   }
  .reviews h1 {
  		font-size: 36px;
  }
  .reviews-read-all{
  		margin: 0;
  }
  .reviews-feedback {
  		margin: 20px 0 0 0;
  }
  .reviews h5 {
        font-size: 16px;
  }
  
footer {
    padding: 22px 16px 30px;
}
  .footer-copyright{
  		margin-top: 11px;
  }
}