body {
	
	font-family: "Times New Roman";
	background-color: #eeeeee;
	}
	
	.page{
		background-color: white;
		margin: 5px auto 20px auto;
		padding: 40px 50px 40px;
		box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
		width: 500px;
	}
	
	.header{
		text-align: center;
	}
	
	h1{
		font-size: 120%;
	}	
	
	p{
		margin-left: 20px;
	}

	img{
		border-radius: 10px;
	}

	a{
		display: block;
	}

	span{
		display: block;
	}
